{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <form method="post" style="align-content: center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="mt-5 font-weight-normal">Please sign in ✅</h1>
                <label for="email" class="mt-3">Email</label>
                <input type="email" value="{{ last_username }}" name="_email" id="email" class="form-control" required
                       autofocus>

                <label for="password" class="mt-3">Password</label>
                <input type="password" name="_password" id="password" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {# TODO:
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary mt-4" type="submit" style="margin-top: 10px">
                    Login
                </button>
            </form>
            <div class="form-group">
                <a class="btn btn-lg btn-secondary float-right" type="button" style="margin-top: 10px"
                   href="{{ path('home') }}">
                    Go back
                </a>
            </div>
        </div>
    </div>
{% endblock %}

