{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center mt-5">
                <a type="button" class="btn btn-primary" href={{ path('login') }}>Log in</a>
                <a type="button" class="btn btn-secondary" href={{ path('app_register') }}>Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}