{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-4 text-center mt-5">
            <a type="button" class="btn btn-primary btn-lg" href={{ path('app_login') }}>Log in</a>
            <a type="button" class="btn btn-secondary btn-lg" href={{ path('app_register') }}>Sign up</a>
        </div>
    </div>
{% endblock %}
